@use "./../base/themes" as *;
@use "./../utils/color" as *;

.search-form {
  &__box {
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 21px;
    padding-right: 5px;
    width: 400px;
    height: 50px;
    border: 1px solid $primary;
    border-radius: 4px;
    cursor: pointer;
  }

  &__input {
    background-color: $white;
    border: none;
    width: 320px;
    height: 34px;
  }

  &__input:focus {
    outline: none;
    border: none;
    appearance: none;
  }

  &__button {
    background-color: $white;
    border: none;
    cursor: pointer;
  }
}
