//   Fonts
$heading-medium: 700 16px/140% "Pretendard", sans-serif;
$heading-large: 700 21.33px/140% "Pretendard", sans-serif;
$heading-xl: 700 28.43px/140% "Pretendard", sans-serif;
$heading-xxl: 700 37.9px/140% "Pretendard", sans-serif;
$heading-xxxl: 700 50.52px/140% "Pretendard", sans-serif;
$label-small: 600 12px/150% "Pretendard", sans-serif;
$label-medium: 600 16px/150% "Pretendard", sans-serif;
$label-large: 600 21.33px/150% "Pretendard", sans-serif;
$label-xl: 600 28.43px/150% "Pretendard", sans-serif;
$label-xxl: 600 37.9px/150% "Pretendard", sans-serif;
$paragraph-small: 400 12px/160% "Pretendard", sans-serif;
$paragraph-medium: 400 16px/160% "Pretendard", sans-serif;
$paragraph-large: 400 21.33px/160% "Pretendard", sans-serif;
$paragraph-xl: 400 28.43px/160% "Pretendard", sans-serif;

// Effects
$text-box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 1);
$above-high-box-shadow: 0px -16px 48px 0px rgba(0, 0, 0, 0.3);
$above-medium-box-shadow: 0px -8px 36px 0px rgba(0, 0, 0, 0.2);
$above-low-box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.1);
$below-high-box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.3);
$below-medium-box-shadow: 0px 8px 36px 0px rgba(0, 0, 0, 0.2);
$below-low-box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);