@font-face {
  font-family: "Pretendard";
  src: url("./assets/Pretendard.otf") format("woff2"),
    url("./assets/Pretendard.otf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/Pretendard-SemiBold.otf") format("woff2"),
    url("./assets/Pretendard-SemiBold.otf") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Pretendard", sans-serif;
}

.container {
  position: relative;
  width: 100%;

  img.main-banner {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 600px;
  }

  &.arrow-left,
  &.arrow-right {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    transform: translateY(-80%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  img.arrow-left {
    left: 17%;
  }

  img.arrow-right {
    right: 17%;
  }

  &:hover {
    .arrow-left,
    .arrow-right {
      opacity: 1;
    }
  }

  @media (max-width: 1000px) {
    img.arrow-left,
    img.arrow-right {
      display: none;
    }
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    position: relative;
  }

  .group_image {
    position: absolute;
    right: -20px;
    top: 40%;
    transform: translateY(-50%);
    max-width: 40px;
    max-height: 40px;
    z-index: 1;
  }

  &_title {
    color: #333333;
    font-weight: bold;
    font-size: 22px;
    margin: 30px 0px;
  }

  img {
    margin: 0px 8px;
    width: 220px;
  }

  &_banner {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    img {
      height: 100px;
      width: 930px;
    }
  }
}

.all_slide {
  display: flex;
}

.slide {
  display: flex;
  flex-direction: column;

  &-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &_title {
    font-weight: 400;
    font-size: 13px;
    color: #333333;
    margin: 13px 0px;
  }

  &_dis {
    color: #fa622f;
    font-weight: bold;
    font-size: 18px;
  }

  &_price {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
  }

  &_linedis {
    margin-top: 13px;
    color: #898989;
    font-size: 12px;
    text-decoration: line-through;
  }
}

.price-link {
  text-decoration-line: none;
}
#main__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.recent {
  box-sizing: border-box;
  width: 78px;
  height: 230px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  position: sticky;
  right: 0px;
  top: 300px;
  padding: 8px;

  button {
    border: none;
    background-color: white;
  }

  @media (max-width: 1200px) {
    display: none;
  }

  &_text {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 3px;
  }
}
@font-face {
  font-family: "Pretendard";
  src: url("./assets/Pretendard.otf") format("woff2"),
    url("./assets/Pretendard.otf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("./assets/Pretendard-SemiBold.otf") format("woff2"),
    url("./assets/Pretendard-SemiBold.otf") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Pretendard", sans-serif;
}

.container {
  position: relative;
  width: 100%;

  img.main-banner {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 600px;
  }

  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    transform: translateY(-80%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  img.arrow-left {
    left: 17%;
  }

  img.arrow-right {
    right: 17%;
  }

  &:hover {
    .arrow-left,
    .arrow-right {
      opacity: 1;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    img.arrow-left,
    img.arrow-right {
      display: none;
    }
  }
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    position: relative;
  }

  .group_image {
    position: absolute;
    right: -20px;
    top: 40%;
    transform: translateY(-50%);
    max-width: 40px;
    max-height: 40px;
    z-index: 1;
  }

  .middle_title {
    color: #333333;
    font-weight: bold;
    font-size: 22px;
    margin: 30px 0px;
  }

  img {
    margin: 0px 8px;
    width: 220px;
  }

  .middle_banner {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    img {
      height: 100px;
      width: 930px;
    }
  }
}

.all_slide {
  display: flex;
}

.slide {
  display: flex;
  flex-direction: column;

  .slide-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .slide_title {
    font-weight: 400;
    font-size: 13px;
    color: #333333;
    margin: 13px 0px;
  }

  .slide_dis {
    color: #fa622f;
    font-weight: bold;
    font-size: 18px;
  }

  .slide_price {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
  }

  .slide_linedis {
    margin-top: 13px;
    color: #898989;
    font-size: 12px;
    text-decoration: line-through;
  }
}

.price-link {
  text-decoration-line: none;
}

#main__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.recent {
  box-sizing: border-box;
  width: 78px;
  height: 265px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  position: sticky;
  right: 0px;
  top: 300px;
  padding: 8px;

  button {
    border: none;
    background-color: white;
  }

  &_text {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 3px;
  }
}

@media (max-width: 1200px) {
  .recent {
    display: none;
  }
}

.recent_slide {
  list-style: none;
  margin-right: 40px;
}
