<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/special.css" />
    <title>special</title>
  </head>
  <body>
    <div class="special">
      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s1.jpg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s2.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s3.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s4.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s5.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s6.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s7.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s8.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s9.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s10.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s1.jpg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s2.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s3.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s4.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s5.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s6.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s7.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s8.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s9.jpeg" alt="" />
        </a>
      </div>

      <div class="special_banner">
        <a href="#">
          <img src="../img/main/s10.jpeg" alt="" />
        </a>
      </div>
    </div>
  </body>
</html>
